
<p>Welcome to the backend of the curriculum tool</p>

<p>Navigation</p>
<ul>
    <li><%= link_to "Achievement Standards", achievement_standards_path %>
    
    <li><%= link_to "Capabilities", capabilities_path %>

    <li><%= link_to "Class Groups", class_groups_path %>

    <li><%= link_to "Content Descriptors", content_descriptors_path %>
    
    
</ul>

