
<p>Welcome to the backend of the curriculum tool</p>

<p>Navigation</p>
<ul>
    <li><%= link_to "Achievement Standards", achievement_standards_path %>
    <li>User links: Add, edit, remove</li>
    
</ul>

