<p><%= link_to "Create Learning Area",new_learning_area_path %>  </p>

<h2>All Learning Areas:</h2>

 <table>
  <tr>
    <th>Name</th>
    <th>Edit / Delete</th>
  </tr>

  <% @learning_areas.each do |la |  %>
        <tr>
            <td> <%= link_to la.name, learning_area_path(la.id) %> 
            </td> 
            <td> 
                <ul>
                     <li><%= link_to "Edit", edit_learning_area_path(la.id) %></li>
                   
                    <li><%= button_to "Delete", learning_area_path(la.id), method: 'delete', form: { data: { turbo_confirm: "Are you sure? This action cannot be undone" }} %></li>
                    
                </ul>
            </td>
        </tr>
        
    
    <% end  %>
</table> 
