<h2> Edit Capabilities:</h2>
<%# You can also add the details of the thing you are editing. Not doing here because AS are so long %>

<%= render partial: "form" %>

<%= link_to "Back to Capabilities", capabilities_path  %>